<div class="container">
    <div class="col-12">
        <app-cabecera></app-cabecera>
    </div>
    <div>
        <div class="row">
            <div class="col-12 col-md-8">
                <app-lista-productos titulo="Comida" [productos]="arrComida"
                    (productoSeleccionado)="manejaProductoSeleccionado($event)"></app-lista-productos>
                <app-lista-productos titulo="Bebida" [productos]="arrBebida"
                    (productoSeleccionado)="manejaProductoSeleccionado($event)"></app-lista-productos>
            </div>
            <div class="col-12 col-md-4">
                <app-comanda [productos]="productosSeleccionados"></app-comanda>
            </div>
        </div>
    </div>
</div>